*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 33px;
  width: 100%;
}

.search-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 52px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 534px;
}

.content__list {
  position: relative;
  width: 100%;
  overflow: hidden auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content__list::-webkit-scrollbar {
  display: none;
}

.result__video-container {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 16px;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border: 1px solid transparent;
  padding: 2px;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  width: 100%;
  line-height: 16.2px;
}

.search-form__fieldset-title {
  margin-bottom: 8px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  text-align: left;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 73.5px;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  outline: none;
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  margin-bottom: 6px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  height: 100%;
  border: unset;
  appearance: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: fit-content;
  border: 1px solid transparent;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #fff;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border: 1px solid #fff;
  border-right: unset;
  border-left: unset;
  outline: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  text-align: left;
  background: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  opacity: 0.7;
  color: #fff;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 18px;
  margin-bottom: 4px;
}

.search-form__pseudo-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
  cursor: pointer;
}

.button {
  width: 100%;
  border: 1px solid #fff;
  padding: 6px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  text-align: center;
  background: transparent;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
}

input[type="checkbox"]:checked+.search-form__pseudo-checkbox::before {
  background-color: #fff;
}

.search-form__pseudo-checkbox::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: transparent;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button:active {
  text-decoration: none;
  background: #545050;
}

.content__video-card:active {
  background-color: #545050;
}

.content__card-link:focus-visible .content__video-card {
  border: 1px solid #fff;
}

.content__card-link_current {
  background: #545050;
}